.idea

Zoterad/.gradle
Zoterad/build/
Zoterad/!gradle/wrapper/gradle-wrapper.jar
Zoterad/!**/src/main/**/build/
Zoterad/!**/src/test/**/build/
Zoterad/
Zoterad/### IntelliJ IDEA ###
Zoterad/.idea/modules.xml
Zoterad/.idea/jarRepositories.xml
Zoterad/.idea/compiler.xml
Zoterad/.idea/libraries/
Zoterad/*.iws
Zoterad/*.iml
Zoterad/*.ipr
Zoterad/out/
Zoterad/!**/src/main/**/out/
Zoterad/!**/src/test/**/out/

### Eclipse ###
Zoterad/.apt_generated
Zoterad/.classpath
Zoterad/.factorypath
Zoterad/.project
Zoterad/.settings
Zoterad/.springBeans
Zoterad/.sts4-cache
Zoterad/bin/
Zoterad/!**/src/main/**/bin/
Zoterad/!**/src/test/**/bin/

### NetBeans ###
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

Zoterad/### VS Code ###
Zoterad/.vscode/

Zoterad/### Mac OS ###
Zoterad/.DS_Store
